body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.container {
    text-align: center;
}

#gifContainerImg {
    width: 60%;
    height: 60%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}
#nuevoBoton{
    display: none;
    padding: 10px 20px; 
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: green; 
    color: white;
    border: 2px solid #FFC0CB; 
    border-radius: 10px; 
}

#siBtn {
    padding: 10px 20px; 
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #009705; 
    color: white;
    border: 2px solid #FFC0CB;
    border-radius: 10px; 
}

#noBtn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #FF5733; 
    color: white;
    border: 2px solid #FFC0CB; 
    border-radius: 10px; 
}
#noBtn span {
    font-size: 18px;
    color: #fcf4f4; 
    
}

#siBtn:hover{
    background-color: #053a03; 
}
#noBtn:hover {
    background-color: #641e0d; 
}
.bg-green {
    background-color: #053a03; 
}

#messageContainer {font-size: 30px;
    color: #FF0000;
    font-family: 'YourDesiredFont', sans-serif; 
    text-shadow: 2px 2px 4px #000; 
    animation: pulse 0.5s infinite alternate; }
    
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #fdd;
        margin: 0;
        padding: 0;
    }
    
    h1 {
        color: #333;
    }
    
    .photo-container {
        margin-bottom: 20px;
        overflow: hidden;
    }
    
    .photo-container img {
        max-width: 100%;
        height: auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .photo-container p {
        margin: 10px 0;
        color: #666;
        text-align: center;
        font-style: italic;
    }
    
    
    
    

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}